<a href="https://colab.research.google.com/github/AnnaKass1/Module13/blob/main/Copy_of_module13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [ ]:
# Import applicants_data.csv to Google Colab
from google.colab import files
uploaded = files.upload()

Saving applicants_data.csv to applicants_data (1).csv

In [ ]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Review the data types associated with the columns

applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [ ]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df1 = applicant_data_df.drop(['EIN', 'NAME'], axis=1)
applicant_data_df1

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df1.dtypes[applicant_data_df1.dtypes == "object"].index)

categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [ ]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [ ]:
# Use the fit_transform method from the OneHotEncoder to encode the data
encoded_data = enc.fit_transform(applicant_data_df1[categorical_variables])

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [ ]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Display sample data
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
# Create a DataFrame with the columnns containing numerical variables from the original dataset
numerical_variables_df = applicant_data_df1.drop(columns = categorical_variables)

# Review the DataFrame
numerical_variables_df.head()

   STATUS  ASK_AMT  IS_SUCCESSFUL
0       1     5000              1
1       1   108590              1
2       1     5000              0
3       1     6692              1
4       1   142590              1

In [ ]:
encoded_df = pd.concat(
    [
        numerical_variables_df,
        encoded_df
    ],
    axis=1
)

# Reveiw the DataFrame
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [ ]:
 # Define features set X by selecting all columns but Attrition_Yes and Attrition_No
X = encoded_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [ ]:
# Define the number of hidden nodes for the first hidden layer
# Use the mean of the number of input features plus the number of output nurons
# Use the Python floor division (//) to return the quotent
hidden_nodes_layer1 =  (number_input_features + 1) // 2 

# Define the number of hidden nodes for the second hidden layer
# Use the mean of the number of hidden nodes in the first hidden layer plus the number of output nurons
# Use the Python floor division (//) to return the quotent
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2

# Create the Sequential model instance
nn = Sequential()

# Add the first hidden layer specifying the number of inputs, the number of hidden nodes, and the activation function
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Add the second hidden layer specifying the number of hidden nodes and the activation function
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

In [ ]:
 # Display the Sequential model summary
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 58)                6786

 dense_4 (Dense)             (None, 29)                1711

 dense_5 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5793 - accuracy: 0.7187
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7298
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7314
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7318
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7328
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7337
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7329
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7359
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7340
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7348
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7356
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7369
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7348
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7365
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7369
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7360
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7357
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7372
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7363
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7364
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7365
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7378
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7382
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7367
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7383
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7385
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7383
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7384
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7385
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7388
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7390
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7376
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7391
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7393
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7391
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7397
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7399
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7402
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7391
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7395
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7390
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7393
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7399
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7406
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7392
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7404
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5318 - accuracy: 0.7414
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5321 - accuracy: 0.7403
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.7400
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5319 - accuracy: 0.7400

In [ ]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5559 - accuracy: 0.7303 - 343ms/epoch - 1ms/step
Loss: 0.5558691024780273, Accuracy: 0.7302623987197876

In [ ]:
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save(file_path)

# Download your model to your computer
files.download(file_path)

In [ ]:
##### ALTERNATIVE MODEL

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116